JWT_SECRET=TesteeEE!!333        #senha segredo para assinar os tokens
JWT_EXPIRES_IN=1h               #tempo de expiração dos tokens
SENHA_GOD=senha.Teste3!         #senha do admnistrador padrão (precisa ter no minimo 6 caracteres e pelo menos um caracter minusculo, um maiusculo, um especial e um número)
MARIA_HOST=localhost            #IP
MARIA_PORT=3306
MARIA_DB=testebd                #nome do banco de dados
MARIA_USER=usuariobd
MARIA_PASSWORD=senhaDificil123
MARIA_ROOT_PASSWORD=            #pode ser a mesma senha que a de cima